.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Token-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.Token-container span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  padding-bottom: 20px;
}

.Token-container p {
  overflow-wrap: break-word;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
  padding: 20px;
}
